body {
    background-color: rgb(99, 99, 99);
    font-family: serif;
    font-size: 75px;
    padding: 10px 10px;
}

ul{
    list-style-type: none;
}

.hyperlinks {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a{
    color: rgb(96, 95, 95);
    text-decoration: none;
    border-radius: 7px;
}

.geral {
    background-color: white;
    width: 10px;
    height: 100px;
    padding: 10px 100px;
}

.sobre {
    background-color: white;
    width: 10px;
    height: 100px;
    padding: 10px 100px;
}

.ajuda {
    background-color: white;
    width: 10px;
    height: 100px;
    padding: 10px 100px;
}

.tema {
    background-color: white;
    width: 10px;
    height: 100px;
    padding: 10px 100px;
}

.conta {
    background-color: white;
    width: 10px;
    height: 100px;
    padding: 10px 100px;    
}

li a:hover {
    color:blueviolet ;
}
